<div class="text-center">
    <div *ngIf="venueDetails!=undefined && venueDetails._embedded!=undefined;else noVenues">
        <div>
            <div class="row py-3">
                <div class="col-md-6 px-1">

                    <ng-container *ngIf="venueDetails._embedded.venues[0].name!=undefined">
                        <div class="subheading">Name</div>
                        <div class="text">{{venueDetails._embedded.venues[0].name}}</div>
                    </ng-container>
                    
                    <ng-container *ngIf="venueDetails._embedded.venues[0].address.line1!=undefined && venueDetails._embedded.venues[0].city.name!=undefined && venueDetails._embedded.venues[0].state.name!=undefined">
                        <div class="subheading">Address</div>
                        <div class="text">{{venueDetails._embedded.venues[0].address.line1}}, {{venueDetails._embedded.venues[0].city.name}},
                            {{venueDetails._embedded.venues[0].state.name}}</div>
                    </ng-container>

                    <ng-container *ngIf="venueDetails._embedded.venues[0].boxOfficeInfo?.phoneNumberDetail!=undefined">
                        <div class="subheading">Phone Number</div>
                        <div class="text">{{venueDetails._embedded.venues[0].boxOfficeInfo?.phoneNumberDetail}}</div>
                    </ng-container>

                </div>
                <div class="col-md-6 px-1">
                    <ng-container *ngIf="venueDetails._embedded.venues[0].boxOfficeInfo?.openHoursDetail!=undefined">
                        <div class="subheading">Open Hours</div>
                        <div id="openHrs" class="container">
                            <div class="text collapse my-0" id="openHrsCollapse" aria-expanded="false">
                                {{venueDetails._embedded.venues[0].boxOfficeInfo?.openHoursDetail}}
                            </div>
                            <a role="button" class="collapsed showText" data-bs-toggle="collapse" href="#openHrsCollapse" aria-expanded="false"
                                aria-controls="openHrsCollapse" (click)="changeShowMoreOH()">
                                {{showMoreOH ? "Show More" : "Show Less"}}
                            </a>
                            <b><i *ngIf="showMoreOH" class="fa fa-angle-down" aria-hidden="true"></i></b>
                            <b><i *ngIf="!showMoreOH" class="fa fa-angle-up" aria-hidden="true"></i></b>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="venueDetails._embedded.venues[0].generalInfo?.generalRule!=undefined">
                        <div class="subheading">General Rule</div>
                        <div id="genRule" class="container">
                            <div class="text collapse my-0" id="genRuleCollapse" aria-expanded="false">
                                {{venueDetails._embedded.venues[0].generalInfo?.generalRule}}
                            </div>
                            <a role="button" class="collapsed showText" data-bs-toggle="collapse" href="#genRuleCollapse" aria-expanded="false"
                                aria-controls="genRuleCollapse" (click)="changeShowMoreGR()">
                                {{showMoreGR ? "Show More" : "Show Less"}}
                            </a>
                            <b><i *ngIf="showMoreGR" class="fa fa-angle-down" aria-hidden="true"></i></b>
                            <b><i *ngIf="!showMoreGR" class="fa fa-angle-up" aria-hidden="true"></i></b>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="venueDetails._embedded.venues[0].generalInfo?.childRule!=undefined">
                        <div class="subheading">Child Rule</div>
                        <div id="childRule" class="container">
                            <div class="text collapse my-0" id="childRuleCollapse" aria-expanded="false">
                                {{venueDetails._embedded.venues[0].generalInfo?.childRule}}
                            </div>
                            <a role="button" class="collapsed showText" data-bs-toggle="collapse" href="#childRuleCollapse" aria-expanded="false"
                                aria-controls="childRuleCollapse" (click)="changeShowMoreCR()">
                                {{showMoreCR ? "Show More" : "Show Less"}}
                            </a>
                            <b><i *ngIf="showMoreCR" class="fa fa-angle-down" aria-hidden="true"></i></b>
                            <b><i *ngIf="!showMoreCR" class="fa fa-angle-up" aria-hidden="true"></i></b>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger mt-2 mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal"
            (click)="sendBackLocation()">
            Show venue on Google map
        </button>
    </div>
    <ng-template #noVenues>
        <div class="emptyVenue col-md-9 mx-auto text-center" style="font-size: 18px;">
            No venue details available to show
        </div>
    </ng-template>
</div>

