<div class="row">
    <div class="col-md-9 mx-auto mb-5">
        <div *ngIf="showTable && showMainTable && this.searchResult.length>0">
            <div class="table-responsive" style="border-top-left-radius: 18px;border-top-right-radius: 18px;">
                <table class="table table-dark table-striped overflow-hidden text-center" style="font-size: 16px;">
                    <thead>
                        <tr>
                            <th scope="col" style="width:15%;">Date/Time</th>
                            <th scope="col" style="width:15%;">Icon</th>
                            <th scope="col" style="width:39%;">Event</th>
                            <th scope="col" style="width:11%;">Genre</th>
                            <th scope="col" style="width:20%;">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let event of searchResult">
                            <tr *ngIf="event['name']!=undefined && event._embedded?.venues!=undefined && event._embedded?.venues[0]?.name!=undefined && event._embedded.attractions!=undefined && event._embedded.attractions[0]?.classifications[0]?.segment?.name
                                    != undefined" style="cursor: pointer;">
                                <th scope="row" (click)="eventDetails(event['id'])"><a>{{event.dates.start.localDate}} <span
                                            *ngIf="event.dates.start.localTime!=undefined"
                                            style="display:block;">{{event.dates.start.localTime}}</span></a></th>
                                <td (click)="eventDetails(event['id'])"><img src="{{event['images'][0]['url']}}"
                                        style="height: 75px;width: 75px;">
                                </td>
                                <td (click)="eventDetails(event['id'])">{{event['name']}}</td>
                                <td (click)="eventDetails(event['id'])">
                                    {{event['_embedded']['attractions'][0]['classifications'][0]['segment']['name']}}
                                </td>
                                <td (click)="eventDetails(event['id'])">{{event['_embedded']['venues'][0]['name']}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="showTable && showMainTable && this.searchResult.length==0">
            <div class="emptySearch text-center mb-2 mx-auto col-8" style="font-size: 18px;">
                No results available
            </div>
        </div>
    </div>
</div>

<!-- Event Details -->
<div class="row">
    <div class="col-md-7 mx-auto">
        <div *ngIf="!showMainTable && showTable && this.selectedEvent != undefined">
            <app-event-details [showEventDetails]="showDetails" [eventResults]="selectedEvent"
                (gmapEvent)="getGoogleMaps($event)" (backEvent)="showTableAgain($event)">
            </app-event-details>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade modal-static" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:black;font-weight: bolder;">Event Venue</h5>
            </div>
            <div class="modal-body">
                <div class="my-google-map" *ngIf="mapOptions!=undefined && marker!=undefined">
                    <google-map width="100%" height="50vh" [options]="mapOptions">
                        <map-marker [position]="marker.position"></map-marker>
                    </google-map>
                </div>
                <button type="button" class="btn btn-dark my-3 ms-3 me-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>