table {
    /* border-radius: 18px; */
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* border: 1px solid #ccc; */
}

.emptySearch {
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    background-color: white;
    color: red;
}


