li a {
    color: white;
    cursor: pointer;
}

.active {
    border: 1px solid white;
    border-radius: 12px;
}

table {
    border-radius: 18px;
}

.heading {
    font-size: 22px;
    color: #6af9f8;
}

.emptyFavorites {
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    background-color: white;
    color: red;
}