<div *ngIf="artistDetails!= undefined && artistDetails.length>0; else noMusicArtists">
    <div *ngIf="artistDetails.length==1; else carouselDiv">
        <div class="container text-center px-5 pt-3 pb-4">
            <!-- Artist Details -->
            <div class="row d-flex align-items-center">
                <div class="col-md-4">
                    <img src="{{artistDetails[0].artists.items[0].images[0].url}}" class="rounded-circle artistImage" alt="Artist">
                    <div class="subheading mt-1" style="font-size: 20px;">{{artistDetails[0].artists.items[0].name}}</div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="subheading mb-3">Popularity</div>
                            <div>
                                <mat-progress-spinner class="popularitySpinner" color="warn"
                                    value="{{artistDetails[0].artists.items[0].popularity}}"
                                    style="width: 40px;height: 40px;"></mat-progress-spinner>
                                <div class="text popularityText">
                                    {{artistDetails[0].artists.items[0].popularity}}
                                </div>
                            </div>
            
                        </div>
                        <div class="col-md-4">
                            <div class="subheading mb-3">Followers</div>
                            <div class="text followerCount">
                                {{formatFollowersCount(artistDetails[0].artists.items[0].followers.total)}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="subheading mb-3">Spotify Link</div>
                            <a href="{{artistDetails[0].artists.items[0].external_urls.spotify}}" target="_blank">
                                <!-- <i class="fab fa-spotify"></i> -->
                                <!-- <i class="fa-brands fa-spotify"></i> -->
                                <i class="fa fa-spotify fa-3x" style="color:#037400" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Albums of featuring artist -->
            <div class="subheading mb-4 mt-4" style="text-align: initial;font-size: 15px;">
                Albums featuring {{artistDetails[0].artists.items[0].name}}
            </div>
            
            <!-- Images of albums: -->
            <div class="row">
                <img *ngFor="let image of artistDetails[0].albums.items" src="{{image.images[0].url}}" class="albumImage col-md-4"
                    alt="AlbumImage" />
            </div>
        
        </div>
    </div>

    <ng-template #carouselDiv>
        <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner pt-3 pb-4" style="padding:0 90px;">

                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <div class="container text-center">
                            <!-- Artist Details -->
                            <div class="row d-flex align-items-center">
                                <div class="col-md-4">
                                    <img src="{{artistDetails[0].artists.items[0].images[0].url}}" class="rounded-circle artistImage" alt="Artist">
                                    <div class="subheading mt-1" style="font-size: 20px;">{{artistDetails[0].artists.items[0].name}}</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="subheading mb-3">Popularity</div>
                                            <div>
                                                <mat-progress-spinner class="popularitySpinner" color="warn" value="{{artistDetails[0].artists.items[0].popularity}}"
                                                    style="width: 40px;height: 40px;"></mat-progress-spinner>
                                                <div class="text popularityText">
                                                    {{artistDetails[0].artists.items[0].popularity}}
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <div class="subheading mb-3">Followers</div>
                                            <div class="text followerCount">
                                                {{formatFollowersCount(artistDetails[0].artists.items[0].followers.total)}}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="subheading mb-3">Spotify Link</div>
                                            <a href="{{artistDetails[0].artists.items[0].external_urls.spotify}}" target="_blank">
                                                <!-- <i class="fab fa-spotify"></i> -->
                                                <!-- <i class="fa-brands fa-spotify"></i> -->
                                                <i class="fa fa-spotify fa-3x" style="color:#037400" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Albums of featuring artist -->
                            <div class="subheading mb-4 mt-4" style="text-align: initial;font-size: 15px;">
                                Albums featuring {{artistDetails[0].artists.items[0].name}}
                            </div>
                            
                            <!-- Images of albums: -->
                            <div class="row">
                                <img *ngFor="let image of artistDetails[0].albums.items" src="{{image.images[0].url}}" class="albumImage col-md-4" alt="AlbumImage" />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="carousel-item" *ngFor="let artist of artistDetails.slice(1)">
                    <div class="d-block w-100">
                        <div class="container text-center">
                            <!-- Artist Details -->
                            <div class="row d-flex align-items-center">
                                <div class="col-md-4">
                                    <img src="{{artist.artists.items[0].images[0].url}}" class="rounded-circle artistImage" alt="Artist">
                                    <div class="subheading mt-1" style="font-size: 20px;">{{artist.artists.items[0].name}}</div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="subheading mb-3">Popularity</div>
                                            <div>
                                                <mat-progress-spinner class="popularitySpinner" color="warn"
                                                    value="{{artist.artists.items[0].popularity}}"
                                                    style="width: 40px;height: 40px;"></mat-progress-spinner>
                                                <div class="text popularityText">
                                                    {{artist.artists.items[0].popularity}}
                                                </div>
                                            </div>
                            
                                        </div>
                                        <div class="col-md-4">
                                            <div class="subheading mb-3">Followers</div>
                                            <div class="text followerCount">
                                                {{formatFollowersCount(artist.artists.items[0].followers.total)}}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="subheading mb-3">Spotify Link</div>
                                            <a href="{{artist.artists.items[0].external_urls.spotify}}" target="_blank">
                                                <!-- <i class="fab fa-spotify"></i> -->
                                                <!-- <i class="fa-brands fa-spotify"></i> -->
                                                <i class="fa fa-spotify fa-3x" style="color:#037400" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Albums of featuring artist -->
                            <div class="subheading mb-4 mt-4" style="text-align: initial;font-size: 15px;">
                                Albums featuring {{artist.artists.items[0].name}}
                            </div>
                            
                            <!-- Images of albums: -->
                            <div class="row">
                                <img *ngFor="let image of artist.albums.items" src="{{image.images[0].url}}" class="albumImage col-md-4"
                                    alt="AlbumImage" />
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </ng-template>
</div>


<ng-template #noMusicArtists>
    <div class="emptyMusic col-md-9 mx-auto text-center">
        No music related artist details to show
    </div>
</ng-template>